container.id
evt.arg.data
evt.arg.filename
evt.arg.path
evt.arg.newpath
evt.arg.oldpath
evt.arg.pid
evt.arg.cmd
evt.arg.optname
evt.arg.whence
evt.arg.level
evt.buffer
evt.category
evt.datetime
evt.dir
evt.is_io_read
evt.is_io_write
evt.info
evt.num
evt.rawres
evt.time
evt.outputtime
evt.type
fd.cip
fd.cport
fd.directory
fd.ino
fd.name
fd.num
fd.rip
fd.sip
fd.sport
fd.type
proc.cmdline
proc.exepath
proc.name
proc.pid
proc.vpid
proc.pvpid
thread.tid
thread.vtid
fs.path.name
fs.path.source
fs.path.target